@tailwind base;
@tailwind components;
@tailwind utilities;

/* Czcionki */
@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-SemiBold.ttf');
  font-style: medium;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Variable.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-rgb: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 320px;
}

body > #root {
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  word-spacing: 2px;
}

hr {
  border-color: currentColor;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
